[class*="col-"]{
  float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after{
  content: "";
  clear: both;
  display: table;
}
.about p{
  width: 70%;
  margin: auto;
  padding: 10px;
}
/*Photos Page*/



.photo-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  background-color: #232323;
}

/* Create four equal columns that sits next to each other */
.photo-column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.photo-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.media-sec{
  background-color: #000;
}
.media-sec img{
  width: 300px;
  display: block;
  margin: auto;
}
.media-sec video{
  width: 400px;
  display: block;
  margin: auto;
}
.media-sec video{
  padding-bottom: 20px
}
